.elementor-4336 .elementor-element.elementor-element-a78f695>.elementor-container {
    min-height: 90vh;
}

.elementor-4336 .elementor-element.elementor-element-a78f695:not(.elementor-motion-effects-element-type-background),
.elementor-4336 .elementor-element.elementor-element-a78f695>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4336 .elementor-element.elementor-element-a78f695 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4336 .elementor-element.elementor-element-a78f695>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc .pp-list-items li {
    padding: 6px 12px 6px 12px;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc .pp-list-container .pp-list-items li {
    align-items: center;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc .pp-list-items .pp-icon-list-icon {
    color: #131313;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 18px;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc .pp-list-items .pp-icon-list-icon svg {
    fill: #131313;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc .pp-list-items .pp-icon-list-image img {
    width: 18px;
}

body:not(.rtl) .elementor-4336 .elementor-element.elementor-element-7892cfc.pp-icon-left .pp-list-items .pp-icon-wrapper {
    margin-right: 15px;
}

body.rtl .elementor-4336 .elementor-element.elementor-element-7892cfc.pp-icon-left .pp-list-items .pp-icon-wrapper {
    margin-left: 15px;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc.pp-icon-right .pp-list-items .pp-icon-wrapper {
    margin-left: 15px;
}

.elementor-4336 .elementor-element.elementor-element-7892cfc .pp-icon-list-text {
    color: #131313;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-4336 .elementor-element.elementor-element-57e63af .pp-list-items li {
    padding: 6px 12px 6px 12px;
}

.elementor-4336 .elementor-element.elementor-element-57e63af .pp-list-container .pp-list-items li {
    align-items: center;
}

.elementor-4336 .elementor-element.elementor-element-57e63af .pp-list-items .pp-icon-list-icon {
    color: #131313;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 18px;
}

.elementor-4336 .elementor-element.elementor-element-57e63af .pp-list-items .pp-icon-list-icon svg {
    fill: #131313;
}

.elementor-4336 .elementor-element.elementor-element-57e63af .pp-list-items .pp-icon-list-image img {
    width: 18px;
}

body:not(.rtl) .elementor-4336 .elementor-element.elementor-element-57e63af.pp-icon-left .pp-list-items .pp-icon-wrapper {
    margin-right: 15px;
}

body.rtl .elementor-4336 .elementor-element.elementor-element-57e63af.pp-icon-left .pp-list-items .pp-icon-wrapper {
    margin-left: 15px;
}

.elementor-4336 .elementor-element.elementor-element-57e63af.pp-icon-right .pp-list-items .pp-icon-wrapper {
    margin-left: 15px;
}

.elementor-4336 .elementor-element.elementor-element-57e63af .pp-icon-list-text {
    color: #131313;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-4336 .elementor-element.elementor-element-d02737c {
    text-align: left;
    color: #131313;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
}

.elementor-4336 .elementor-element.elementor-element-d02737c>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
    padding: 0px 12px 0px 12px;
}

.elementor-4336 .elementor-element.elementor-element-8fda15c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-4336 .elementor-element.elementor-element-8fda15c>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-4336 .elementor-element.elementor-element-802db00 .elementor-heading-title {
    color: #131313;
    font-family: "Roboto", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(6px/2);
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(6px/2);
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(6px/2);
    margin-left: calc(6px/2);
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-6px/2);
    margin-left: calc(-6px/2);
}

body.rtl .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-6px/2);
}

body:not(.rtl) .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-6px/2);
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-icon i {
    color: #6EC1E4;
    transition: color 0.3s;
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-icon svg {
    fill: #6EC1E4;
    transition: fill 0.3s;
}

.elementor-4336 .elementor-element.elementor-element-83104e9 {
    --e-icon-list-icon-size: 0px;
    --icon-vertical-offset: 0px;
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-text {
    color: #131313;
    transition: color 0.3s;
}

@media(max-width:767px) {
    .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(3px/2);
    }
    .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(3px/2);
    }
    .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(3px/2);
        margin-left: calc(3px/2);
    }
    .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-3px/2);
        margin-left: calc(-3px/2);
    }
    body.rtl .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-3px/2);
    }
    body:not(.rtl) .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-3px/2);
    }
    .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-4336 .elementor-element.elementor-element-83104e9 .elementor-icon-list-item>a {
        font-size: 19px;
    }
}

/* Start custom CSS for pp-icon-list, class: .elementor-element-7892cfc */

.pp-list-container .pp-list-items .pp-icon-list-item {
    border-radius: 10px;
    cursor: pointer;
}

.pp-list-container .pp-list-items .pp-icon-list-item:hover {
    background-color: #e3e3e3;
}

/* End custom CSS */

/* Start custom CSS for pp-icon-list, class: .elementor-element-57e63af */

.pp-list-container .pp-list-items .pp-icon-list-item {
    border-radius: 10px;
    cursor: pointer;
}

.pp-list-container .pp-list-items .pp-icon-list-item:hover {
    background-color: #e3e3e3;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-802db00 */

#side-panel-wrap h5 {
    color: #131313;
}

/* End custom CSS */

/* Start custom CSS for column, class: .elementor-element-6e2db36 */

#side-panel-wrap a.close-panel i {
    font-size: 20px;
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-a78f695 */

#side-bar {
    overflow-y: scroll !important;
    padding: 0px 10px 0px 8px;
    /*width: 300px;*/
    width: 21.95vw;
    height: 92vh;
    top: 8vh;
}

#side-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

#side-bar::-webkit-scrollbar {
    width: 10px;
}

#side-bar::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 4px;
    border-right: 2px solid #fff;
}

#side-bar::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}

/* End custom CSS */

/* Start custom CSS */

.custom-sub-menu {
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-items: center;
}

/* End custom CSS */